.status-line {
  height: 28px;
  display: flex;
  align-items: center;
  background-color: #313235;
  color: #f6f6f6;
  position: sticky;
  bottom: 0;
}

.mode-viewer {
  display: flex;
  height: 100%;
  width: 90px;
  padding: 0px 8px;
  align-items: center;
  justify-content: center;
}

.normal-mode {
  background-color: var(--normal-mode-bg-color);
  color: var(--normal-mode-color);
}

.insert-mode {
  background-color: var(--insert-mode-bg-color);
  color: var(--insert-mode-color);
}
