@use '../styles/variables' as v;

.editor {
  color: v.$color-fg;
  font-family: v.$font-family;
  font-size: 1rem;
  overflow-y: auto;
  border: none;
  background: v.$color-bg-panel;
  height: 100%;
}

.milkdown {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
