.menu-bar {
  display: flex;
  user-select: none;
}

.menu-item {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #3c3c3c;
}

.menu-label {
  pointer-events: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2b2b2b;
  border: 1px solid #444;
  min-width: 150px;
  z-index: 999;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  height: var(--menu-bar-height);
  background-color: #313235;
  color: #f6f6f6;
}

.dropdown-item:hover {
  background-color: #3c3c3c;
}

.menubar-container {
  height: var(--menu-bar-height);
  background-color: #313235;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
